<html>
  <!-- Cutting management + Sequence Plan Application integration example -->
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./messagepipe.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Cutting Management removal list MOCKUP</h1>
      <form>
        <div v-for="(item, index) in removalList" class="row mb-3" style="border-bottom: 1px solid gray;">
          <div class="form-group col-6">
            <label>rawSapMaterial</label>
            <input type="text" class="form-control" v-model="item.rawSapMaterial">
          </div>
          <div class="form-group col-6">
            <label>lamWoodModuleLength</label>
            <input type="text" class="form-control" v-model="item.lamWoodModuleLength">
          </div>
          <div class="form-group col-12">
            <button class="btn btn-secondary" @click.prevent="remove(index)">- Remove</button>
          </div>
        </div>
        <button class="btn btn-success float-left" @click.prevent="add">+ Add item</button>
        <button class="btn btn-secondary float-left ml-1" @click.prevent="reset">Reset</button>
        <button class="btn btn-primary float-right ml-1" @click.prevent="save">Save</button>
        <button class="btn btn-warning float-right" @click.prevent="cancel">Cancel</button>
      </form>
    </div>
    <script>
      (function() {
        // Assuming page loaded within the iframe.
        // Establish connection with parent window by creating new message pipe.
        // Second argument should point a domain (including protocol) where Sequence Plan is running.
        // http://localhost:61493 - local, http://frontend.messp.astor.office.xtech.pl - demo
        var pipe = new MessagePipe(window.parent, 'http://localhost:61493');
        
        // DEBUG ONLY, not required in production mode.
        // This callback will be called as soon as pipe connects to the other end (pipe implements simple 'hello' routine that confirms connection establishing).
        // CAUTION: callback has to be set before pipe is connected (calling .connect() method), otherwise event will occure before handler was assigned.
        pipe.onConnected = function(data) {
          console.log('MOCKUP: pipe connected!');
        };

        // This callback will handle incomming messages. At the moment cutting management scenario does not makes usage in this direction.
        // CAUTION: callback has to be set before pipe is connected, otherwise some of the messages might lost.
        pipe.onReceived = function(data) {
          console.log('MOCKUP: message recevied', data);
        };

        // When initialized pipe has to be connected - this will ensure that pipe is connected to the other end (Sequence Plan App).
        pipe.connect();
        
        // NOTE: pipe shouled be disposed if you plan to reinitialize it within same page load (listerns are bound to window an will stay active when not disposed).
        // pipe.dispose();

        // Initializing new vue instace that will mockup the UI.
        // https://vuejs.org/
        new Vue({
          el: '#app',
          data: {
            removalList: [
              {
                "rawSapMaterial": "test1",
                "lamWoodModuleLength": "test2"
              }
            ]
          },
          methods: {
            remove: function(itemIndex) {
              this.removalList.splice(itemIndex, 1);
            },
            add: function() {
              this.removalList.push({
                "rawSapMaterial": "",
                "lamWoodModuleLength": ""
              });
            },       
            save: function() {
              // When save button clicked sending message to Sequence Plan app.
              // It is expected that message payload (first argment of .send() method) will have specified format:
              // { method: '<methodName>', params: { '<param1Name>': '<param1Value>', '<param2Name>': '<param2Value>', '<paramNName>': '<paramNValue>' } }
              // In case of below method name is "setRemovalList" and the only paramter is removalList value (assigned from ui).
              // On Sequece Plan app end: when message received "setRemovalList" will store removal list for current location and the will close cutting management layer (modal).
              pipe.send({
                method: "setRemovalList",
                params: {
                    removalList: this.removalList
                }
              })
            },
            reset: function() {
              this.removalList = []
            },
            cancel: function () {
              // When cancel button clicked sending message to Sequence Plan app.
              // It is expected that message payload (first argment of .send() method) will have specified format:
              // { method: '<methodName>', params: { '<param1Name>': '<param1Value>', '<param2Name>': '<param2Value>', '<paramNName>': '<paramNValue>' } }
              // In case of below method name is "terminate" and there are no parameters.
              // On Sequece Plan app end: when message received "terminate" will release pipe resources and then destroy layer (modal) including cutting management iframe.
              pipe.send({
                method: "terminate"
              });
            }
          }
        })
      })()
    </script>
  </body>
</html>
